<p>Hey we got a new donation for <%= @organization.name %>.</p>

<ul>
  <li>Name: <%= @donation.name %></li>
  <li>Email: <%= @donation.email %></li>
  <li>Amount: <%= @donation.amount %></li>
  <li>Organization Note: <%= @donation.organization_note %></li>
  <li>Personal Note: <%= @donation.personal_note %></li>
</ul>

<p>Cheers,</br>
The Give Back Project</p>
