<!DOCTYPE html>
<html>
<head>
  <title>Giveback</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- for Facebook -->
  <meta property="og:title" content="Project Give Back" />
  <meta property="og:image" content="<%= image_url 'giveback-preview.png' %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="Sometimes, the best gift is giving back. We know you love us a lot, so instead of giving us something for us, we’d love if you’d consider giving to an organization that we support." />
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <%= favicon_link_tag %>
  <script src="//use.typekit.net/qky6yzy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<%= javascript_include_tag 'application' %>
<%= render 'layouts/partials/analytics' %>
</body>
</html>
